body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

section {
    padding: 20px;
    margin: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 , h2, h3, h4{
    color: #444;
}

#hook {
    background-color: #ffeb3b;
    text-align: center;
}

#climax .fake-update {
    background-color: #333;
    color: #fff;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
}

.fake-update .progress-bar{
    width: 80%;
    background-color: #555;
    height: 20px;
    margin: 20px auto;
    border-radius: 5px;
    overflow: hidden;
}

.fake-update .progress{
    width: 45%;
    height: 100%;
    background-color: #76c7c0;
    animation: progress 2s infinite;
}

.fake-update .status {
    font-weight: bold;
}

@keyframes progress{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

#cta {
    text-align: center;
    background-color: #2196f3;
    color: #fff;
}
